@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Roboto&display=swap');

:root {
    --color-font-footer: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
}

body[data-theme="t-light"] {
    --icon-color: #ffffff;
    --background-calculator: rgba(255, 255, 255, 0.1);
    --background: linear-gradient(120deg, #00cac7, #e239aa);
    --font-color: #000;
    --background-number: #ffffff;
    --border-color: #000;
    --caret-color: #ffffff;
}

body[data-theme="t-light"]:hover {
    --number-background-hover: #c0ccd5;
}


body[data-theme="t-dark"] {
    --icon-color: #ffffff;
    --background-calculator: #23262e;
    --background: linear-gradient(120deg, #422779, #910161);
    --font-color: #ffffff;
    --background-number: #000;
    --border-color: none;
    --caret-color: #000;
}

body[data-theme="t-dark"]:hover {
    --number-background-hover: #4a5053;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
}


.main {
    position: relative;
}

.icon-sun {
    color: var(--icon-color);

    margin: 25px;

}

.button-theme {
    cursor: pointer;
    border: none;
    margin: 10px;
}

.apagar {
    color: var(--icon-color);
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    cursor: pointer;
    border: none;
    transform: rotate(45deg);
}

svg {
    background: none;
}

.rotate svg {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: center;
    animation: spin 2.8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


input {
    color: var(--font-color);
    padding: 17px;
    outline: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    

    border-radius: 25%;

    cursor: pointer;

}

.num {
    width: 64px;
    height: 67px;
    margin: 1px;
    border: solid 1px;
}

.text1 {
    width: 169px;
    height: 26px;
    border: solid 1px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    pointer-events: none;
}


.text2 {
    width: 65px;
    height: 65px;
    padding: 1px;
    margin-left: 2px;
    border-radius: 50%;
    border: solid 1px;
    cursor: pointer;
    background-color: var(--background-number);
    caret-color: var(--caret-color);
}


.main {
    display: inline-block;
    padding: 60px 20px;
    border-radius: 20px;
    border: solid 1px var(--border-color);
    background-color: var(--background-calculator);
}

.maincolor {
    background-color: var(--background-number);

}

.maincolor:hover {
    background-color: var(--number-background-hover);
}

.blue {
    background-color: #0cd0cd;
}

.blue:hover {
    background-color: #088381;
}

.pink {
    background-color: #cf1596;
}

.pink:hover {
    background-color: #99106f;
}

.green {
    background-color: #aad800;
}

.green:hover {
    background-color: #81a300;
}

.purple {
    background-color: #8c52ff;
}

.purple:hover {
    background-color: #6f42ca;
}

.orange {
    background-color: #fcb707;
}

.orange:hover {
    background-color: #c38e06;
}


footer {
    height: 64px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

footer p, a{
    color: var(--color-font-footer);
    font-family: 'Roboto', cursive;
}

footer a:hover {
    opacity: 0.7;
}

/*PARA CELULAR*/

@media (max-width:330px) {

    .num {
        width: 38px;
        height: 40px;
        margin: 1px;
        border: solid 1px;
    }

    .text1 {
        width: 101px;
        height: 20px;
        border: solid 1px;
        border-radius: 22px;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 12px;
        pointer-events: none;
    }


    .text2 {
        width: 39px;
        height: 39px;
        padding: 1px;
        margin-left: 2px;
        border-radius: 50%;
        border: solid 1px;
        cursor: pointer;
        background-color: var(--background-number);
        caret-color: var(--caret-color);
    }


    .main {
        display: inline-block;
        padding: 40px 15px;
        border-radius: 20px;
        border: solid 1px var(--border-color);
        background-color: var(--background-calculator);
    }

    input {
        color: var(--font-color);
        padding: 10px;
        outline: none;

        font-size: 18px;
        font-family: 'Bebas Neue', cursive;

        border-radius: 25%;

        cursor: pointer;

    }

    #meu-input {
        font-size: 13px;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}